/* Reset properties */
*,
*::after,
*::before{
    padding: 0;
    margin: 0;
    border: none;
    box-sizing: border-box;
}

/* Links */
a, a:visited{
    color: inherit;
    text-decoration: none;
    /* display: inline-block; */
}

a:hover{
    color: inherit;
    text-decoration: none;
}

a:focus,
a:active{
    outline: none;
}

/* Common */
aside, nav, footer, header, section, main{
    display: block;
}

h1, h2, h3, h4, h5, h6, p{
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;
}

ul{
    list-style: none;
}

img, svg{
    vertical-align: top;
    max-width: 100%;
    height: auto;
}
